body{
  background-color: #303036;
  color: #f5f1ed;
}

.botonera {
  align-items: center;
  padding: 3px;
  display: block;
}
button{
  border: solid #EFE9F4 1.5px;
  background-color: #8075FF;
  height:30px;
  width: 20%;
  border-radius: 5px;
  font-size: 90%;
}

h1{
  text-align: center;
}
p{
  font-size: 20px;
}
