.module {
	display: block;
	margin: auto;
	text-align: center;
	background-color: $light;
	border-radius: $base-border-radius;
	padding: $padding-lg;
	width: 50%;
	color: $secondary;
	font-size: $font-size-xl;
	box-shadow: $base-box-shadow;
}

.advice {
	font-size: $base-font-size;
	margin-bottom: $base-margin-bottom;
	background-color: $terciary;
	padding: $padding-sm;
	color: $dark;
	border-radius: $border-radius-circle;
	display: flex;
	align-items: center;
	gap: 2rem;
	box-shadow: 0px 0px 15px $terciary;
	cursor: help;
}
