$primary: #fa2720;
$secondary: #1492d6;
$dark: #33234a;
$light: #e1e2eb;

$base-font-size: 1rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;

$base-padding: 1rem;
$padding-lg: 2rem;
$padding-sm: 0.5rem;

$base-margin-bottom: 1rem;

$base-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

$base-border-radius: 5px;
